<div style="text-align:center">

<h1>Secret</h1> <!-- check form -->

<form [formGroup] = "formGroup">
<label>User name : </label> <!-- <label for = un>Username : </label> -->
<input type = "text" formControlName = "unForm" placeholder = "User name" name = "un" id = "un"> <!-- id and name both are used to local storage the previous inputs --><!-- use control+shift+? to comment the selected text -->
<div *ngIf = "formGroup.controls['unForm'].invalid && formGroup.controls['unForm'].touched">User name required</div> <!-- input validation -->
<br><br>

<label>Password : </label>
<input type = "password" formControlName = "pwdForm" placeholder = "Pwd" name = "pwd" id = "pwd"> <!-- names of id and name are final object name as of server-side -->
<div *ngIf = "formGroup.controls['pwdForm'].invalid && formGroup.controls['pwdForm'].touched">Password required</div>
<br><br>
</form>

<button (click) = "signin()" [disabled] = "!formGroup.valid">Sign In</button>

<a routerLink = "/create-account">Create Account</a>
&nbsp;&nbsp;
<button (click) = "info()">Info</button>
<br><br>
<a routerLink = "/feedback">Feedback</a>
&nbsp;&nbsp;
<button (click) = "refresh()">Reload (refresh)</button>
&nbsp;&nbsp;
<button (click) = "restart()">Restart</button>
<br><br>
</div>

<!-- <mat-checkbox name="insured">select if yes</mat-checkbox> -->

<div style = "text-align:left">
<h3>Previous user
<br>
{{preUser}}</h3>
</div>

<div style = "text-align:right">
<h3>Developed By
<br>
Karthikeyan T</h3>
</div>

<router-outlet></router-outlet>

<!-- valid - valid field
invalid - invalid field
touched - field touched
untouched - field untouched
dirty - value in the field changed
pristine : value in the field not changed
value - current value in the input field
errors - invalid field properties -->