<h2>Info</h2>

<!-- City -->
<h2>City</h2>
<form>
<label>Name : </label>
<input type = "text" [(ngModel)] = "city.name" placeholder = "Name" name = "name" id = "name">
<br><br>
</form>

<button (click) = "addCity()">Add</button>
&nbsp;
<button (click) = "createCityList()">Create</button>
&nbsp;
<button (click) = "deleteCityList()">Delete</button>
<br><br>

<table border = 1>
<tr>
<th>Index</th>
<th>Name</th>
<th>Delete</th>
</tr>
<tr *ngFor = "let city of cityList; index as i">
<td>{{i+1}}</td>
<td>{{city.name}}</td>
<td><button (click) = "deleteCity(index, city.id)">Delete</button></td>
</tr>
</table>

<!-- Course -->
<h2>Course</h2>
<form>
<label>Name : </label>
<input type = "text" [(ngModel)] = "course.name" placeholder = "Course" name = "name" id = "name">
<br><br>
<label>Fee : </label>
<input type = "text" [(ngModel)] = "course.fee" placeholder = "Fee" name = "fee" id = "fee">
<br><br>
</form>

<button (click) = "createCourse()">Create</button>
<br><br>

<table border = 1>
<tr>
<th>Index</th>
<th>Name</th>
<th>Fee</th>
<th>Delete</th>
</tr>
<tr *ngFor = "let course of courseList; index as i">
<td>{{i+1}}</td>
<td>{{course.name}}</td>
<td>{{course.fee}}</td>
<td><button (click) = "deleteCourse(course.id)">Delete</button></td>
</tr>
</table>

<!-- Role -->
<h2>Role</h2>
<form>
<label>Name : </label>
<input type = "text" [(ngModel)] = "role.name" placeholder = "Role" name = "name" id = "name">
<br><br>
<label>Create : </label>
<input type = "text" [(ngModel)] = "role.create" placeholder = "Create" name = "create" id = "create">
<br><br>
</form>

<button (click) = "createRole()">Create</button>
<br><br>

<table border = 1>
<tr>
<th>Index</th>
<th>Name</th>
<th>Create</th>
<th>Delete</th>
</tr>
<tr *ngFor = "let role of roleList; index as i">
<td>{{i+1}}</td>
<td>{{role.name}}</td>
<td>{{role.create}}</td>
<td><button (click) = "deleteRole(role.id)">Delete</button></td>
</tr>
</table>