<h1> Welcome {{secret.firstName}}</h1>
<br>

<h3>Full name : {{secret.firstName}} {{secret.lastName}}</h3>

<div *ngIf = "secret.gender"> <!-- "secretDTO.gender != null" also works -->
<h3>Gender : {{secret.gender=='MALE'?'Male':'Female'}}</h3> <!-- use '' instead of "" for strings --><!-- "" also works --><!-- it is recommended not to use spaces for ternary operator -->
</div>

<h3>Account created : {{secret.dateOfCreation | date: masterService.date()}}</h3>

<div *ngIf = "secret.mobile != null"> <!-- *ngIf returns boolean value 0 or 1 --> <!-- ngIf takes integer 0 as boolean 0 so use != null only for integers --> 
<h3>Mobile : {{secret.mobile}}</h3>
</div>
<br>

<button (click) = "goToSecret()">Secrets</button>
<br><br>

<button (click) = "downloadExcel()">Download Excel</button>
&nbsp;
<button (click) = "downloadPdf()">Download Pdf</button>
<!-- <input type = "file" (change) = "fileEvent($event)"> -->
<br><br>

<!-- <h3>Course</h3>
<select>
<option *ngFor = "let course of courseList; index as i" (onSelect) = "addCourse(i, course)">{{course.name}}</option>
</select>
<br><br>

<table border = 1>
<tr>
<th>Index</th>
<th>Course</th>
<th>Delete</th>
</tr>
<tr *ngFor = "let course of userCourseList; index as i">
<td>{{i+1}}</td>
<td>{{course.name}}</td>
<td>{{course.fee}}</td>
<td><button (click) = "removeCourse(i, course)">Delete</button></td>
</tr>
</table>
<br><br> -->

<form>
<label>Hey, {{secret.firstName}} enter your valuable feedback letter</label>
<br>
<!-- <angular-editor class ="angular-editor-custom" [(ngModel)]="feedbackMsg" name="feedbackMsg"></angular-editor> -->
<textarea [(ngModel)] = "feedbackMsg" placeholder = "Feedback" name = "feedbackMsg" id = "feedbackMsg"></textarea> <!-- textarea name = "feedbackMsg" can also be used -->
<br>
</form>
<button (click) = "submit()">Submit</button> <!-- use submit() for forms -->
<br><br>

<button (click) = "delAcc()">Delete Account</button>
<br><br><br>

<button routerLink = "/signin">Sign Out</button>

<router-outlet></router-outlet>