<h2>Create Account</h2>

<form [formGroup] = "formGroup">
<label>Username : </label>
<input type = "text" placeholder = "Username" formControlName = "unForm" name = "un" id = "un">
<div *ngIf = "formGroup.controls['unForm'].invalid && formGroup.controls['unForm'].touched">User name required</div>
<br><br>

<label>First name : </label>
<input type = "text" formControlName = "firstNameForm" placeholder = "First name" name = "firstName" id = "firstName">
<div *ngIf = "formGroup.controls['firstNameForm'].invalid && formGroup.controls['firstNameForm'].touched">First name required</div>
<br><br>

<label>Last name : </label>
<input type = "text" formControlName = "lastNameForm" placeholder = "Last name" name = "lastName" id = "lastName">
<div *ngIf = "formGroup.controls['lastNameForm'].invalid && formGroup.controls['lastNameForm'].touched">Last name required</div>
<br><br>

<label>Gender : </label>
<input type = "radio" value = "MALE" formControlName = "genderForm" name = "genderForm" id = "maleGenderForm">Male <!-- Name and form control name must be same only for radio buttons -->
<input type = "radio" value = "FEMALE" formControlName = "genderForm" name = "genderForm" id = "femaleGenderForm">Female
<br><br>

<label>Date Of Birth : </label>
<input type = "date" formControlName = "DobForm" placeholder = "DOB" name = "dob" id = "dob">
<br><br>

<label>Mobile : </label>
<input type = "number" formControlName = "mobileForm" placeholder = "Mobile" name = "mobile" id = "mobile">
<br><br>

<label>Enter Secret Password : </label>
<input type = "password" formControlName = pwdForm placeholder = "Pwd" name = "pwd" id = "pwd">
<div *ngIf = "formGroup.controls['pwdForm'].invalid && formGroup.controls['pwdForm'].touched">Password required</div>
<br><br>
</form>

<button (click) = "create()" [disabled] = "!formGroup.valid">Create</button>
&nbsp;&nbsp;
<button routerLink = "/signin">Home</button>

<router-outlet></router-outlet>