<h2>Secret</h2>

<button (click) = "create()">Create</button>
<br><br>

<h2>Total secrets : {{paginationResponse.totalElements}}</h2>
<br>

<!-- <h2>Search : </h2>
<input type = "text" (keyup) = "applyFilter($event.target.value)" placeholder = "Search" name = "search" id = "search">
<br><br> --> <!-- applyFilter($event) can also be used -->

<h2>Search : </h2>
<input #search (keyup) = "applyFilter(search.value)" placeholder = "Search" name = "search" id = "search"> <!-- recommended --> <!-- (keyup)="keyStroke($event)" can also be used --> <!-- (keyup.enter) allows event only to occur after enter key is pressed and (blur) = "applyFilter(search.value)" is used along with (keyup.enter) in case the user made next event without pressing the enter key -->
<br><br>

<table border = 1>
<tr>
<th>Index</th>
<th>Secret<button (click) = "sort()">Sort : {{paginationRequest.direction}}</button></th>
<th>View</th>
<th>Delete</th>
</tr>
<tr *ngFor = "let note of noteList; index as i">
<td>{{pageIndex(i)}}</td>
<td>{{note.msg}}</td>
<td><button (click) = "view(note.id)">View</button></td>
<td><button (click) = "delete(note.id)">Delete</button></td>
</tr>
</table>
<br><br>

<select>
<option *ngFor = "let page of pageList" (onchange) = "pagination()">{{page}}</option>
</select>
&nbsp;&nbsp;
<select>
<option *ngFor = "let size of sizeList" (onchange) = "pagination()">{{size}}</option>
</select>